
@media screen and (max-width: 576px) {

}


@media screen and (min-width: 576px) {
    /******** Home sec ********/
    .home-content h2{
        font-size: calc(var(--home-content-font-size) + 8px);
    }

    /********* About-sec******** */

    #about-sec{
        width: 560px;
    }

    /* ***** Services-sec******* */

    #services-sec{
        width: 560px;
    }

    /******* Resume ***********/
    #resume-sec{
        width: 560px;
    }

    /******** portfolio******** */
    .portfolio-content{
        width: 560px;
    }

    .portfolio-album{
        display: grid;

        grid-template-areas: 
            "p1 p2"
            "p1 p2"
            "p1 p2"
            "p3 p2"
            "p3 p2"
            "p3 p2"
            "p4 p2"
            "p4 p5"
            "p4 p5"
            "p4 p5"
            "p4 p6"
            "p4 p6"
            "p7 p6"
            "p7 p6"
            "p7 ."
            "p7 ."
        ;

        gap: 15px;
    }

    .album-photo:nth-child(1){
        grid-area: p1;
    }
    .album-photo:nth-child(2){
        grid-area: p2;
    }
    .album-photo:nth-child(3){
        grid-area: p3;
    }
    .album-photo:nth-child(4){
        grid-area: p4;
    }
    .album-photo:nth-child(5){
        grid-area: p5;
    }
    .album-photo:nth-child(6){
        grid-area: p6;
    }
    .album-photo:nth-child(7){
        grid-area: p7;
    }
    .album-photo{
        margin: 0px;
    }
    /********* Contact******* */
    .contact-container{
        width: 560px;
    }

}

@media screen and (min-width: 768px) {
    /******** Home sec ********/
    .home-content h2{
        font-size: calc(var(--home-content-font-size) + 16px);
    }

    /********* About-sec******** */

    #about-sec{
        width: 754px;
    }

    .count-part{
        width: 25%;
    }

    /* ***** Services-sec******* */

    #services-sec{
        width: 754px;
    }

    .service-type{
        --space-value: 20px;
        width: calc(50% - var(--space-value));
        margin-left: var(--space-value);
    }


    /******* Resume ***********/
    #resume-sec{
        width: 754px;
    }

    .education{
        width: 50%;
    }

    .skill{
        width: 50%;
    }

    /******** portfolio******** */
    .portfolio-content{
        width: 754px;
    }

    /********* Contact******* */
    .contact-container{
        width: 754px;
    }

    .contact-content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .address{
        order: -1;
        width: 20%;
        text-align: left;
        margin: 0;
    }
    .contact-content form{
        width: 70%;
    }


}

@media screen and (min-width: 992px) {

    /******** Home sec ********/
    .home-content h2{
        font-size: calc(var(--home-content-font-size) + 24px);
    }

    .social label{
        /* background-color: orange; */
        display: none;
    }

    .nav-menu{
        width: 60%;
        height: auto;
        position: static;
        background-color: transparent;
    }

    .nav-container input:checked + .nav-menu{
        height: auto;
    }

    .nav-menu ul{
        display: flex;
        justify-content: space-evenly;
    }

    .nav-menu a{
        text-decoration: none;
        font-family: var(--main-font-family);
        font-size: 14px;
        color: white;
        display: inline;
        padding: 0px;
        position: static;
        
    }
    

    .nav-menu a::before{
        display: none;
    }

    /********* About-sec******** */

    #about-sec{
        width: 978px;
    }

    .about-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .about-profile{
        --space-value: 15px;
        width: calc(60% - calc(var(--space-value) * 2));
        margin-left: var(--space-value);
        margin-right: var(--space-value);
    }

    .about-me-info{
        --space-value: 15px;
        width: calc(40% - calc(var(--space-value) * 2));
        margin-left: var(--space-value);
        margin-right: var(--space-value);
    }

    /* ***** Services-sec******* */

    #services-sec{
        width: 978px;
    }

    /******* Resume ***********/
    #resume-sec{
        width: 978px;
    }

    /******** portfolio******** */
    .portfolio-content{
        width: 978px;
    }

    .portfolio-album{
        display: grid;

        grid-template-areas: 
            "p1 p2 p3"
            "p1 p2 p3"
            "p1 p2 p3"
            "p4 p2 p5"
            "p4 p2 p5"
            "p4 p2 p5"
            "p4 p2 p6"
            "p4 p7 p6"
            "p4 p7 p6"
            ".  p7 p6"
            ".  p7 ."
        ;
    }

    /********* Contact******* */
    .contact-container{
        width: 978px;
    }

    /* Footer */

    .footer{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
   
    /******** Home sec ********/
    .home-content h2{
        font-size: calc(var(--home-content-font-size) + 32px);
    }   
    
    .nav-menu{
        width: 50%;
    }

     /********* About-sec******** */

     #about-sec{
        width: 1186px;
     }

     .about-profile{
        text-align: left;
        
    }

    /* ***** Services-sec******* */

    #services-sec{
        width: 1186px;
    }

    /******* Resume ***********/
    #resume-sec{
        width: 1186px;
    }
    /******** portfolio******** */
    .portfolio-content{
        width: 1186px;
    }

    /********* Contact******* */
    .contact-container{
        width: 1186px;
    }

}

@media screen and (min-width: 1400px) {

     /******** Home sec ********/
    /********* About-sec******** */

    #about-sec{
        width:  85%;
    }

    #services-sec{
        width: 85%;
    }

    /******* Resume ***********/
    #resume-sec{
        width: 85%;
    }
    /******** portfolio******** */
    .portfolio-content{
        width: 85%;
    }

    /********* Contact******* */
    .contact-container{
        width: 85%;
    }    
}


